/*@media (min-width: 1200px) {
  .container{
      max-width: 80%;
  }
} */

body {
  background-color: rgb(233, 236, 244)
}

.container {

  background-color: rgb(150, 179, 192)

}


footer {
  height:3vh;
}
